<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <a routerLink="/" class="list-group-item">Index</a>
        <a routerLink="/about" class="list-group-item">About</a>
        <a routerLink="/contact" class="list-group-item">Contact</a>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 align="center"><i>copy-right prasanthi</i></h3>
      </div>
    </div>
  </div>




